<!DOCTYPE html>
<html>
<head>
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-default navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{% url 'cbv_app:list' %}">Schools</a></li>
                <li><a class="navbar-admin" href="{% url 'admin:index' %}">Admin</a></li>
                <li><a class="navbar-register" href=""></a></li>
            </ul>
        </div>
        </nav> 

    <div class="container">
        {% block body_block %}
        {% endblock %}
    </div>
</body>
</html>